@media (min-width: 1200px) and (max-width: 1599px) {
  .brand-info{
    padding-top:248px !important;
    padding-right: 200px !important;
    p{
      font-size:18px !important;
    }
  }
}
@media(max-width: 480px) {
  .page-login-v3 {
    .page-content {
      padding: 30px 20px;
    }
    .panel {
      width: auto;
      padding: 10px;
      .panel-body {
        padding: 35px 25px;
      }
    }
  }

  .brand-img2 {
    width: 200px !important;
  }
}
@media(max-width: 767px) {
  .page-login-v3 .page-brand-info {
    display: none;
  }

  .page-login-v3 .panel {
    width: 100%;
  }

  .responsive-logo {
    display: block;
  }
  .brand-img2 {
    width: 300px;
  }
}
