@media (max-width: 767px) {
  .navbar-header {
    float: left;
  }
}
@media (max-width: 480px) {
  .navbar-header {
    left: 50%;
    float: none;
    display: block;
      a.navbar-brand {
      width: 100%;
      text-align: center;
      }      
  }
  .site-notifications{
    float:left !important;
    padding-left: 20%;
  }
}