$theme_color: #6b4994;
$white:#fff;
.rayo-breadcrumb{
	color:#777;
	.breadcrumb{
		padding:8px 0px 0px;
		margin-bottom: 4px;
    > li + li:before {
    padding: 0 5px;
    color:#555;
    content: ">";
	}
	}
	.breadcrumb-item{
		a{
			color:#555;
			&:hover{
				color: $theme_color;
			}
		}
	}
	.breadcrumb > .active {
    	color:$theme_color;
	}
}