$theme_color: #6b4994;
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
     background-color:$theme_color;
    border-color:$theme_color;
 }
.pagination > li > a, .pagination > li > span{
   padding: 4px 13px;
    margin: 0px 1px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #666
 }
 .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color:$theme_color;
    border-color:$theme_color;
    color:#fff;
 }