$theme_color: #6b4994;

a {
  color: $theme_color;
}

.rayo-nav {
  background-color: #fff;
}

.page-title {
  width: 100%;
  margin: 10px auto 12px;
  color: #666;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  h3 {
    margin: 0px;
  }
}

span.create-btn div {
  margin-left: 8px;
  margin-top: 9px;
}

.form-panel {
  width: 100%;
  margin: 0 auto;
  border-radius: 0px;
  -moz-box-shadow: 0 0 3px #666;
  -webkit-box-shadow: 0 0 3px #666;
  box-shadow: 0 0 3px #666;
}

.dropdown-menu-media > .dropdown-menu-footer > a:hover {
  color: $theme_color !important;
}

.dropdown-menu-media > .dropdown-menu-footer > .dropdown-menu-footer-btn:hover {
  color: $theme_color !important;
}

.page-nav {
  span {
    display: inline-block;
  }
  .close {
    color: #fff;
    opacity: 1;

  }
  li {
    margin-right: 2px;
    a {
      background-color: #D7C4DE;
      border-color: #D7C4DE;
      color: #fff;
      margin-right: 0px;
    }
    &:hover {
      background-color: $theme_color;
      border-color: $theme_color;

    }
  }
}

.next-nav {
  background: #f3f2f2;
  -webkit-box-shadow: 0px 3px 2px #888;
  -moz-box-shadow: 0px 3px 2px #888;
  box-shadow: 0px 3px 2px #888;
  margin-top: -3px !important;
  font-size: 0px;
  left: 0;
  padding: 0 30px !important;
  position: fixed;
  width: 100%;
  z-index: 999;
  .site-menu-icon {
    color: #9676bc;
  }
  li {
    a {
      padding: 2px 15px;
      &:hover {
        .site-menu-icon {
          color: #fff;
        }
      }
    }
  }
}

.next-nav > li.active > a {
  background-color: $theme_color;
  border-color: $theme_color;
  &:focus {
    background-color: $theme_color;
    border-color: $theme_color;
  }
  &:hover {
    background-color: $theme_color;
    border-color: $theme_color;
  }
}

.modal-body {
  padding: 20px 30px;
}

legend {
  margin-bottom: 25px !important;
}

.drag__drop-multiselect {
  width: 100%;
  height: 100px !important;
  padding: 10px;
}

.drag__drop-buttons {
  margin-top: 35px;
}

.page-nav-tabs {
  padding: 0 30px;
}

.page-content {
  padding: 0px 30px 15px;
}

.panel-body {
  padding: 10px 30px;
}

.alert {
  padding: 0px;
  margin-bottom: 0px;
  background: none;
  z-index: 999;
}

.form__wrapper {
  .alert {
    float: none;
  }
}

.page-aside {
  .list-group-item.active {
    background-color: $theme_color;
    color: #FFF;
    .icon {
      color: #FFF;
    }
  }
}
.btn-group{
  .btn{
    border: 1px solid #ccc;
  }
  .active{
    background:$theme_color;
    color:#fff;
  }
}