.widget-container{
	span.del-btn {
	    position: absolute;
	    top: -15px;
	    right: -2px;
	    display: none;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.55s ease;
	    -ms-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
	span.drag-btn {
	    position: absolute;
	    top: -15px;
	    right: 26px;
	    display: none;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.55s ease;
	    -ms-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
	&:hover{
		span.drag-btn{
			display: block;
		}
		span.del-btn{
			display: block;
		}
	}
}
.dashboard-modal {
    padding: 0px 10px !important;
    line-height: 29px;
    border-top: 1px dashed #eee;
    .checkbox.pull-left {
    	padding: 0px 16px;
	}
}