.data-table {
  min-height: 500px;
  margin-bottom: 10px;
}

.table-body {
  border-bottom: 0;

  .text-nowrap {
    form {
      display: inline-block;
    }
  }
}



.form__wrapper{
  padding:30px;
}