//colors
$color_ship_cove_approx: #7986cb;
$color_mustard_approx: #ffd54f;
$color_viking_approx: #4dd0e1;
$color_de_york_approx: #81c784;
$color_periwinkle_gray_approx: #c5cae9;
$white: #fff;
$color_athens_gray_40_approx: rgba(232, 234, 246, .4);
$color_purple_heart_80_approx: rgba(103, 58, 183, .8);

.dashboard {
  .widget {
    height: calc(100% - 30px);
  }
  .panel {
    height: calc(100% - 30px);
  }
  .widget-content {
    height: 100%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
  }
}

#widgetCurrentChart {
  .ct-chart {
    .ct-series {
      &.ct-series-a .ct-bar {
        stroke: $white;
        stroke-width: 3%;
      }
      &.ct-series-b .ct-bar {
        stroke: $color_athens_gray_40_approx;
        stroke-width: 3%;
      }
    }
    .ct-labels .ct-label {
      font-size: 14px;
      color: $white;
    }
  }
  > div {
    position: relative;
    .btn-floating {
      position: absolute;
      top: 0;
      right: 20px;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: translate(0%, -50%);
    }
  }
}

#widgetUserList {
  .widget-content {
    position: relative;
    height: auto;
    .list-group-item {
      padding-top: 15px;
      padding-bottom: 15px;
      .media-body {
        vertical-align: bottom;
      }
    }
    .btn-floating {
      position: absolute;
      top: 0;
      right: 20px;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: translate(0%, -50%);
    }
    .list-group-dividered .list-group-item:last-child {
      border-bottom: none;
    }
  }
  .widget-header .overlay-background {
    background-color: $color_purple_heart_80_approx;
  }
}

@media(max-width: 991px) {
  #widgetUserList .widget-header .avatar {
    width: 80px;
  }
}

#chat {
  .widget-chat-footer {
    position: absolute;
    bottom: 0;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .widget-chat-header > * {
    padding: 0 30px;
    margin: 0;
    line-height: 50px;
  }
}

#widgetLineareaOne .ct-chart {
  .ct-area {
    fill-opacity: 1;
  }
  .ct-series.ct-series-a .ct-area {
    fill: $color_ship_cove_approx;
  }
}

#widgetLineareaTwo .ct-chart {
  .ct-area {
    fill-opacity: 1;
  }
  .ct-series.ct-series-a .ct-area {
    fill: $color_mustard_approx;
  }
}

#widgetLineareaThree .ct-chart {
  .ct-area {
    fill-opacity: 1;
  }
  .ct-series.ct-series-a .ct-area {
    fill: $color_viking_approx;
  }
}

#widgetLineareaFour .ct-chart {
  .ct-area {
    fill-opacity: 1;
  }
  .ct-series.ct-series-a .ct-area {
    fill: $color_de_york_approx;
  }
}

#widgetJvmap path {
  fill: $color_periwinkle_gray_approx;
}

#projects .table {
  > thead > tr > td {
    vertical-align: middle;
  }
  > tbody > tr > td {
    vertical-align: middle;
  }
}

#projects-status .table {
  > thead > tr > td {
    vertical-align: middle;
  }
  > tbody > tr > td {
    vertical-align: middle;
  }
}
