//colors
$black: #000;
$white: #fff;
$white_70: rgba(255, 255, 255, .7);
$color_tapa_approx: #777;
$black_50: rgba(0, 0, 0, .5);
$black_40: rgba(0, 0, 0, .4);
$black_30: rgba(0, 0, 0, .3);
$color_curious_blue_approx: #1e88e5;
$color_cinnabar_approx: #e53935;
$black_15: rgba(0, 0, 0, .15);
$color_star_dust_approx: #9e9e9e;
$color_celeste_approx: #ccc;
$color_mountain_mist_approx: #999;
$color_athens_gray_approx: #ecf0f1;
$color_lochmara_approx: #08c;
$color_masala_57_approx: rgba(60, 60, 60, .57);
$color_suva_gray_24_approx: rgba(136, 136, 136, .24);
$color_masala_27_approx: rgba(60, 60, 60, .27);
$color_mountain_mist_36_approx: rgba(146, 146, 146, .36);

//fonts
$font_0: Arial;
$font_1: verdana;
$font_2: tahoma;

//@extend-elements
//original selectors
//.introjs-prevbutton, .introjs-nextbutton
%extend_1 {
  padding: 8px 18px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $white;
  text-decoration: none;
  background-color: $color_curious_blue_approx;
  border: 1px solid transparent;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 1000px;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;
}

//original selectors
//.introjs-prevbutton.introjs-disabled, .introjs-nextbutton.introjs-disabled
%extend_2 {
  color: $color_star_dust_approx !important;
  cursor: not-allowed;
  background: transparent !important;
  border: 1px solid;
}


.introjs-overlay {
  position: absolute;
  z-index: 10000;
  background-color: $black;
  opacity: 0;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .3s ease-out;
}
.introjs-fixParent {
  position: absolute !important;
  z-index: auto !important;
  opacity: 1.0 !important;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: none !important;
}
.introjs-showElement {
  z-index: 10100 !important;
}
.introjs-disableInteraction {
  position: absolute;
  z-index: 10300 !important;
}
.introjs-relativePosition {
  position: relative;
}
.introjs-helperLayer {
  position: absolute;
  z-index: 10099;
  background-color: $white;
  background-color: $white_70;
  border: 1px solid $color_tapa_approx;
  border: 1px solid $black_50;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 2px 15px $black_40;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .3s ease-out;
  * {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: content-box;
    &:before {
      //Instead of the line below you could use @include box-sizing($bs)
      box-sizing: content-box;
    }
    &:after {
      //Instead of the line below you could use @include box-sizing($bs)
      box-sizing: content-box;
    }
  }
}
.introjs-tooltipReferenceLayer {
  position: absolute;
  z-index: 10101;
  background-color: transparent;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .3s ease-out;
}
.introjs-helperNumberLayer {
  position: absolute;
  top: -16px;
  left: -16px;
  z-index: 10400 !important;
  width: 20px;
  height: 20px;
  padding: 4px;
  font-family: $font_0, $font_1, $font_2;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: $white;
  text-align: center;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 1px 1px 1px $black_30;
  background: $color_curious_blue_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 2px 5px $black_40;
}
.introjs-arrow {
  position: absolute;
  display: none !important;
  content: '';
  border: 5px solid $white;
  &.top {
    top: -10px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: $white;
    border-left-color: transparent;
  }
  &.top-right {
    top: -10px;
    right: 10px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: $white;
    border-left-color: transparent;
  }
  &.top-middle {
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: $white;
    border-left-color: transparent;
  }
  &.right {
    top: 10px;
    right: -10px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: $white;
  }
  &.right-bottom {
    right: -10px;
    bottom: 10px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: $white;
  }
  &.bottom {
    bottom: -10px;
    border-top-color: $white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  &.left {
    top: 10px;
    left: -10px;
    border-top-color: transparent;
    border-right-color: $white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  &.left-bottom {
    bottom: 10px;
    left: -10px;
    border-top-color: transparent;
    border-right-color: $white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
.introjs-tooltip {
  position: absolute;
  min-width: 300px;
  max-width: 500px;
  padding: 10px;
  font-size: 30px;
  color: $white;
  background-color: transparent;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: opacity .1s ease-out;
  .content {
    display: block;
    margin-top: 20px;
    font-size: 14px;
  }
}
.introjs-tooltipbuttons {
  margin-top: 10px;
  text-align: right;
  white-space: nowrap;
}
.introjs-skipbutton {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 56px;
  height: 56px;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  font-size: 24px;
  color: $white !important;
  text-align: center;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: none;
  background: $color_cinnabar_approx !important;
  border: none;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 100%;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 6px 10px $black_15;
  i {
    line-height: 56px;
  }
  &:hover {
    color: $white;
    border: none;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 6px 10px $black_15;
  }
  &:active {
    background: $color_cinnabar_approx;
  }
  &:focus {
    background: $color_cinnabar_approx;
  }
}
.introjs-prevbutton {
  @extend %extend_1;
  float: left;
  &:hover {
    color: $white;
    text-decoration: none;
  }
  &:active {
    color: $white;
    text-decoration: none;
  }
  &:focus {
    color: $white;
    text-decoration: none;
  }
  &.introjs-disabled {
    @extend %extend_2;
  }
  i {
    margin-right: 10px;
  }
}
.introjs-nextbutton {
  @extend %extend_1;
  float: right;
  &:hover {
    color: $white;
    text-decoration: none;
  }
  &:active {
    color: $white;
    text-decoration: none;
  }
  &:focus {
    color: $white;
    text-decoration: none;
  }
  &.introjs-disabled {
    @extend %extend_2;
  }
  i {
    margin-left: 10px;
  }
}
.introjs-disabled {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
.introjs-bullets {
  text-align: center;
  ul {
    display: inline-block;
    padding: 0;
    margin: 15px auto 0;
    clear: both;
    li {
      float: left;
      margin: 0 2px;
      list-style: none;
      a {
        display: block;
        width: 6px;
        height: 6px;
        text-decoration: none;
        background: $color_celeste_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 10px;
        &:hover {
          background: $color_mountain_mist_approx;
        }
        &.active {
          background: $color_mountain_mist_approx;
        }
      }
    }
  }
}
.introjs-progress {
  height: 10px;
  margin: 10px 0 5px;
  overflow: hidden;
  background-color: $color_athens_gray_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
}
.introjs-progressbar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: $color_lochmara_approx;
}
.introjsFloatingElement {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}
.introjs-fixedTooltip {
  position: fixed;
}
.introjs-hint {
  position: absolute;
  width: 20px;
  height: 15px;
  background: transparent;
  &:hover > .introjs-hint-pulse {
    border: 5px solid $color_masala_57_approx;
  }
}
.introjs-hidehint {
  display: none;
}
.introjs-fixedhint {
  position: fixed;
}
.introjs-hint-pulse {
  position: absolute;
  z-index: 10;
  width: 10px;
  height: 10px;
  background-color: $color_suva_gray_24_approx;
  border: 5px solid $color_masala_27_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 30px;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .2s ease-out;
}
.introjs-hint-dot {
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 10px solid $color_mountain_mist_36_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 60px;
  opacity: 0;
  animation: introjspulse 3s ease-out;
  animation-iteration-count: infinite;
}
@-webkit-keyframes "introjspulse" {
  0% {
    opacity: .0;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .3;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: .0;
  }
}
tr.introjs-showElement {
  > td {
    z-index: 10100 !important;
    position: relative;
  }
  > th {
    z-index: 10100 !important;
    position: relative;
  }
}